include *.md
include LICENSE
include tox.ini
include Pipfile
exclude Pipfile.lock
include .coveragerc
include .editorconfig
include .env.template
include setup.py
include setup.cfg
include duplicity_backup_s3.template.yaml

recursive-include duplicity_backup_s3 *.py py.typed *.md *.yaml *.yml *.template conf.py Makefile make.bat *.jpg *.png *.gif

recursive-include tests *
recursive-exclude * __pycache__
global-exclude *.py[coi]
exclude *.sh
exclude requirements*
recursive-exclude .idea *
recursive-exclude .tox *
recursive-exclude .eggs *
exclude .*
