[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duplicity-backup-s3 = {editable = true,path = "."}
envparse = "*"
PyYAML = "*"
cerberus = "*"
appdirs = "*"

[dev-packages]
black = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pydocstyle = "*"
pre-commit = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
