[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"duplicity-backup-s3" = {editable = true, path = "."}
envparse = "*"
PyYAML = "*"

[dev-packages]
black = "*"
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
